.popup__button-close {
  cursor: pointer;
  display: flex;
  aspect-ratio: 1;
  background: url("../../../images/svg/cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: 0;
  position: absolute;
  width: 32px;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    right: 0px;
    top: -36px;
  }
}

.popup__button-close:hover {
  opacity: 0.6;
}
