.content {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  min-width: 282px;
}


@media screen and (max-width: 1000px) {
  .content {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    max-width: 282px;
    margin-bottom: 48px;
  }
}
